iOS/MovieBuff.xcodeproj/project.xcworkspace/xcuserdata/Mahendra.xcuserdatad
iOS/MovieBuff.xcodeproj/xcuserdata/Mahendra.xcuserdatad/xcdebugger
iOS/MovieBuff.xcodeproj/xcuserdata/Mahendra.xcuserdatad
iOS/Pods/Pods.xcodeproj/xcuserdata/Mahendra.xcuserdatad
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
